body {
    background-color: black;
    overflow-x: hidden; 
}
.nav-item {
    font-family: ArialRoundedMTBold;
    color:  white;
}
.dropdown-item {
    font-family: ArialRoundedMTBold;
    color:  white;
}
#social-media-parent {
    position: absolute;
    right: 0px;
}
#social-media {
    width: 40px;
    height: 40px;
}
#main-carousel .carousel-item {
    text-align: center;
}
#main-carousel .carousel-item img {
    max-width: auto; 
    height: 100vh; 
}
.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none; 
    user-select: none; 
}
#main-title {
    position: absolute;
    text-align: center;
    width: 100%;
    top: 30%;
}
#main-title h1 {
    font-family: sans-serif;
    font-size: 100px;
    color: white;
    font-weight: bold; 
    text-shadow:1px 1px 10px #000, 1px 1px 20px #000;
}
#main-title h3 {
    font-family: inherit;
    font-size: 60px;
    color: white;
    font-weight: bold;
    text-shadow:1px 1px 10px #000, 1px 1px 20px #000;
}
#main-title .btn {
    margin-top: 150px;
    border-radius: 12px;
    box-shadow:1px 1px 10px #000, 1px 1px 20px #000;
}
#main-title .btn:hover {
    margin-top: 150px;
    border-radius: 12px;
    background-color: white !important;
    color: black !important;
    opacity: 0.7 !important;
}
.photo-slide {
    text-align: center;
}
.image-holder img {
    height: 75vh;
    width: auto;
}
.image-holder img:hover {
    cursor: zoom-in;
}
.image-select .row {
    width: 100%;
}
.image-select .row .col-3 {
    padding: 0;
}
#photo-row {
    width: 100vw;
}
#photo-row .col-lg-3, .ciol-md-6, col-sm-12 {
    padding: 0;
}
#photo-row .col-lg-3 img {
    max-width: 100%;
    height: auto;
}
.zoom:hover {
    cursor: zoom-in;
}
.modal {
    display: none; 
    position: fixed; 
    z-index: 9999; 
    overflow-y: hidden;
    text-align: center;
    vertical-align: middle;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,1);
}
#modal-image {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    max-height: 95%;
    width: auto;
}
@keyframes zoom {
    from {transform:scale(0)}
    to {transform:scale(1)}
}
#close:hover,
#close:focus {
    cursor: pointer;
}
#close {
    position: absolute;
    top: 10px;
    right: 35px;
    transition: 0.3s;
}
#previous:hover,
#previous:focus {
    cursor: pointer;
}
#previous {
    position: absolute;
    top: 50%;
    left: 30px;
    transition: 0.3s;
}
#next:hover,
#next:focus {
    cursor: pointer;
}
#next {
    position: absolute;
    right: 30px;
    top: 50%;
    transition: 0.3s;
}
#current-image {
    position: absolute;
    top: 10px;
    left: 35px;
    color: white;
    transition: 0.3s;
}
#video {
    height: 100vh;
    width: auto;
}
.section {
    margin-top: 150px;
}
.section-heading {
    color: white;
    opacity: 0.8;
}
.contact-right {
    color: white;
    opacity: 0.7
}
.md-form .contact-input:focus {
    border-bottom: 1px solid white !important;
    box-shadow: 0 1px 0 0 white !important; 
    color: white !important;
}
.md-form .contact-input {
    color: white !important;
}
.md-form label {
    color: white !important;
    opacity: 0.8;
}
#price-list {
    margin-top: 200px;
    width: 100%;
    height: 80vh;
}
.list-group .active {
    background-color: white !important;
    border: 1px solid white;
    color: black;
}
.list-group-item {
    background-color: black!important;
    color: white;
    font-size: 20px;
}
.tab-content {
    margin-bottom: 50px;
}
.tab-pane h1 {
    font-weight: bold;
    color: white;
    font-size: 40px;
}
.tab-pane label {
    color: white;
    margin-top: 20px;
    font-size: 20px;
}
.card-cascade {
    width: 100vw;
    height: 100vh;
}
.about-me {
    height: 50vh;
    background-color: black;
}
.about-me h4 {
    font-size: 50px;
    color: white;
}
.about-me p {
    font-size: 20px !important;
    color: white !important;
    opacity: 0.7;
}
.about-me a {
    color: white;
    padding-bottom: 20px !important; 
}
#contact-send-btn {
    border-radius: 12px;
}
#contact-send-btn:hover {
    border-radius: 12px;
    background-color: white !important;
    color: black !important;
    opacity: 0.7 !important;
}
@media (max-width: 991px) { 
    #navbar-main {
        margin-left: 0;
    }
    #social-media-parent {
        position: relative;
    }
    #main-title {
        position: absolute;
        text-align: center;
        width: 100%;
        top: 20%;
    }
    #main-title h1 {
        font-family: sans-serif;
        font-size: 80px;
        color: white;
        font-weight: bold; 
        text-shadow:1px 1px 10px #000, 1px 1px 20px #000;
    }
    #main-title h3 {
        font-family: inherit;
        font-size: 40px;
        color: white;
        font-weight: bold;
        text-shadow:1px 1px 10px #000, 1px 1px 20px #000;
    }
    #main-title .btn {
        margin-top: 150px;
        border-radius: 12px;
        box-shadow: 1px 1px 10px #000, 1px 1px 20px #000;
    }
    #main-title .btn:hover {
        margin-top: 150px;
        background-color: white !important;
        color: black !important;
        opacity: 0.7 !important;
    }
    #main-carousel .carousel-item img {
        width: 100vw; 
        height: auto; 
    }
    #photo-carousel .carousel-item img {
        max-width: 100%;
        height: auto;
    }
    .image-holder img {
        height: auto;
        max-width: 100%;
    }
    .img-horizontal {
        margin: auto;
        display: block;
        padding-top: 50px;
        height: auto;
        width: 100%;
    }
    .section {
        margin-top: 50px;
    }
    #price-list {
        margin-top: 80px;
        width: 100%;
        height: 80vh;
    }
    .tab-content {
        margin-top: 80px;
        margin-bottom: 50px;
    }
    .section-heading {
        font-size: 35px;
    }
}
@media (max-width: 480px) { 
    #main-title h1 {
        font-family: sans-serif;
        font-size: 45px;
        color: white;
        font-weight: bold; 
        text-shadow:1px 1px 10px #000, 1px 1px 20px #000;
    }
}
